body{
  font-family: 'Open Sans', sans-serif;
}
header span.inner {
  display: none;
}
header a.navbar-brand {
  display: block;
  width: 250px;
  height: 65px;
  background-image: url('../img/logo_sm_250.png');
  background-repeat: no-repeat;
}
header nav a.active {
  font-weight: bold;
  padding: 10px;
  margin-right: 10px;
  border: solid 1px #dee2e6;
  border-bottom: solid 1px #fff;
  background-color: #fff;
}
header {

  margin-bottom: 0 !important;
}
#headerNav {
  display: flex;
  margin-top: 38px !important;

}
header nav a {
  border-radius: .25rem .25rem 0 0;
  margin-right: 10px;
  padding: 10px;
}
header nav li {
  list-style: none;
}
header nav a:hover {

  background-color: #F8F9FA;
}
header nav li a:hover {
  text-decoration: none;
}
main {
  margin-top: 92px;
}
#mainNav {
  margin-top: -10px;
  /*background-color: #e0efff !important;
  border-right: solid 1px #90c6ff; */
}
.card {
  margin: 5px;
}
